/*AREA for defining page reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/*AREA for defining page reset*/

#codingArea {
    margin: 0px;
    padding: 0px;
    font-family: monospace; 
    display: inline-block;
}

.plainCode {
    vertical-align: top;
    display: inline-block;
    position: relative;
}

.numbering {
    vertical-align: top;
    width: 3em;
    text-align: center;
    display: inline-block;
    margin-top: 3px;
    padding: 0px;
    right:100%;
}

.numberingTable{
    width: 3em;
    text-align: right;
    position: relative;
    border-collapse: collapse;
}

#codeText {
    line-height: 16px;
    font-size: 14px;
    font-family: monospace; 
}

tr, th {
    height: 13px;
    font-size: 13px;
    line-height: 13px;
    position: relative;
    border-top: 1px;
    border-bottom: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}
.row, .step {
    line-height: 16px;
    height:16px;
    font-size: 14px;
    background-color: lightgray;
}

.step {
    position:relative;
    margin-top:-16px;
    width: auto;
}

.step__previous {
    left: 0%;
    right: 50%;
    width:50%;
    background-color: rgba(255, 0 , 0, 0.5);
}

.step__next {
    left: 50%;
    right: 100%;
    background-color: rgba(0, 167, 36, 0.5);
}

.step__nondeterministic {
    left:0%;
    right:0%;
    background-color: black;
}

#ide, #machine {
    display:inline-block;
}
#machine {
    overflow: visible;
}


.basic__information, .tms__configuration, .controls, .registry {
    position: absolute;
}

.state_of_machine, .scanner__head {
    display:inline-block;
}

.basic__information {
    padding: 10px;
    background-color: grey;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height:auto;
}

#state__display, #state__locker {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    font-size: 30px;
    text-align: center;
    height: 34px;
    width: 4em;
    line-height: 34px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top:10px;
    margin-left:auto;
    margin-right:10px;
}

#state__locker {
    font-size: 20px;
    width: 8em;

}

.basic__information {
    overflow: visible;
}

.scanner__head {
    background-color: grey;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height:auto;
    display: inline-block;
    vertical-align: bottom;
    margin:1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.tms__configuration {
    background-color: grey;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height:auto;
    display: inline-block;
    vertical-align: bottom;
    margin:1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.controls {
    background-color: grey;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height:auto;
    display: inline-block;
    vertical-align: bottom;
    margin:1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.registry {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width:1000px;
    height:auto;
    display: inline-block;
    margin:1px;
    overflow: auto;
}

pre {
    display:inline;
    font-size: 24px;
    line-height: 28px;
    font-family: monospace;
}

.tape__registry {
    height: 28px;
    padding-bottom: 10px;
}

.box__name {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.no__select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    pointer-events: none;
    cursor: default;
}

.head__value {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    font-size: 36px;
    text-align: center;
    height: 40px;
    width: 1em;
    line-height: 40px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

.control__button {
    display: block;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    font-size: 28px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 34px;
    line-height: 34px;
    width: 6em;
}

.config__input {
    display: block;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    font-size: 28px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 34px;
    line-height: 34px;
    width: 6em;
}

.tape__select {
    color: red;
}

#state__display:disabled {
    color: black;
}